* {
    box-sizing: border-box;
}



#wrapper, #mana, #life {
    background-size: cover;
    background-repeat: no-repeat;

}

#wrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url("../image/game.jpg");
    z-index: 0;
}

#wrapper .game {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 60vh;
}


#wrapper .hud {
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: space-between;
}

#wrapper .hud .mana, #wrapper .hud .life {
    width: 200px;
    height: 100%;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: bottom;

}

#wrapper .hud .mana {
    background-image: url("../image/mana.png");

}

#wrapper .hud .life {
    background-image: url("../image/life.png");

}