* {
    box-sizing: border-box;
}



#wrapper, #mana, #life {
    background-size: contain;
    background-repeat: no-repeat;

}

#wrapper {
    width: 100vw;
    height: 100vh;

    background-image: url("../image/game.jpg");
    z-index: 0;
}

#wrapper .game {
    width: 100vh;
    height: 60vh;
}


#wrapper .hud {
    z-index: 1;
    width: 100vw;
    height: 40vh;
    display: flex;
    justify-content: space-between;
}

#wrapper .hud .mana, #wrapper .hud .life {
    width: 20%;
    height: 70%;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: center;
}

#wrapper .hud .mana {
    background-image: url("../image/mana.png");

}

#wrapper .hud .life {
    background-image: url("../image/life.png");

}