body {
    width: 100%;


}

/* VERSION MOBILE DU SITE */
div#wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2vh;
    border: solid gray;
}

/* definition des arriere-plans */
header, footer {
    background-color: skyblue;
}

div#article-container article:nth-child(1) {
    background-color: #FFC83F;
}

div#article-container article:nth-child(2) {
    background-color: #a2854c;
}

div#article-container article:nth-child(3) {
    background-color: #878729;
}

/*   Le fond vert du 3e article devient à moitié transparent lorsqu'on le survole (mais pas le texte qu'il contient).*/
div#article-container article:nth-child(3):hover {
    background-color: rgba(135, 135, 41, .5);

}

/*   Les 3 articles ont des coins arrondis.*/
div#article-container article {
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

div.galerie {
    margin: 10px;
}



/*  La boîte de connexion ne s'affiche plus.*/
div#formulaire2 {
    display: none;
}

/* disposition des items du formulaire */
div#formulaire2 form {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

div#formulaire2 form div {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

div#formulaire2 form div:nth-child(3) input {
    width: 100%;
}

div#formulaire2 form div label {
    width: 10vw;
}

div#formulaire2 form div input {
    width: 20vw;
}








/* Le papillon est placé à l'extrême droite de l'en-tête.*/
div#logo {
    display: flex;
    justify-content: space-between;
    margin: 5px 10px;
    padding-left: 20px;
}

/* dimension du papillon */
div#logo img {
    height: 60px;
    transition: transform .8s ease-in-out;

}


div#logo img:hover {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

/* bordure du main */
div#main {
    margin: 10px;
}

/* dimension des images de la galerie */
div.galerie img {
    width: 100%;
}

div#main aside {
    background-color: white;
    border: solid gray;
    padding: 10px;
    display: grid;
    border-radius: 8px;
    grid-template-areas: "z1 z3""z2 z3""z4 z4";
}

div#main aside img {
    grid-area: z3;
    width: 100%;
}

div#main aside h3 {
    grid-area: z1;
}

div#main aside ul {
    grid-area: z2;
}

div#main aside p {
    grid-area: z4;
}

footer ul li {
    list-style-type: none;
}

footer ul {
    display: none;

}

footer {
    width: 100%;
    height: 70px;
}

/*  La version mobile doit apparaitre à partir de 768px. */
@media only screen and (min-width:768px) {
    header {
        display: flex;
        justify-content: space-between;
    }

    div#formulaire2 {
        display: block;
    }

    div#main {
        display: flex;
    }

    div#article-container {
        display: grid;
        grid-template-areas: "cel11 cel12""cel22 cel22";
    }

    div#article-container article:nth-child(1) {
        grid-area: cel11;
    }

    div#article-container article:nth-child(2) {
        grid-area: cel12;
    }

    div#article-container article:nth-child(3) {
        grid-area: cel22;
    }

    div#galerie-wrapper {
        display: flex;
    }

    footer ul {
        display: flex;
        justify-content: space-around;
        padding: 1px 300px;
    }

    div#main aside {
        display: flex;
        flex-direction: column;
    }
}



@media only screen and (min-width:992px) {
    div#main aside {
        display: flex;
        flex-direction: column;
    }
}