* {
    box-sizing: border-box;
}

div#slider {

    width: 20%cd ..;
    overflow: hidden;
    margin: auto;

}

div#slider-container {
    width: 1000px;

}

img {
    width: 20%;

}

@keyframes deplacement {
    0% {
        transform: translate(-20%, 0);
        /*left: 0;*/
    }

    20% {
        transform: translate(-20%, 0);
        /*left: 200px;*/
    }

    40% {
        transform: translate(-20%, 0);
        /* left: 400px;*/
    }

    60% {
        transform: translate(-20%, 0);
        /* left: 600px;*/
    }

    80% {
        transform: translate(-20%, 0);
        /* left: 800px;*/
    }

    100% {
        transform: translate(20%, 0);
        /*left: 1000px;*/
    }


}

div#slider-container {
    animation-name: deplacement;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}