* {
    box-sizing: border-box;
}

body {
    width: 80%;
    margin: auto;
    background: linear-gradient(#121111, #e5e9ea);
}



/* Dans le fichier CSS, on déclare une police personnalisée */
@font-face {
    font-family: 'sofia-regular';
    src: url('fonts/sofiaregularwebfont.eot');
    src: url('fonts/sofiaregularwebfont.eot') format('embedded-opentype'),
        url('fonts/sofiaregularwebfont.woff2') format('woff2'),
        url('fonts/sofiaregularwebfont.woff') format('woff'),
        url('fonts/sofiaregularwebfont.ttf') format('truetype'),
        url('fonts/sofiaregularwebfont.svg#sofiaregularwebfont') format('svg');
}


body {
    font-family: 'sofia-regular';

}

body>div {
    background-color: white;
    text-align: center;
    padding: 1%;
}


section div {
    padding: 1%;

    position: relative;
}

section div h1 {
    text-align: left;

    top: 30%;
    position: absolute;
    width: 98%;
    background-color: rgba(176, 221, 239, 0.682);
    height: 25%;
    font-size: 2.5em;
    padding-left: 5%;
}


section div img {
    width: 100%;
}

section form fieldset {
    background-color: rgba(176, 221, 239, 0.682);
    width: 80%;
    margin: auto;
    border: none;
    border-top-right-radius: 20px;
}

div>label {
    text-align: left;

}

fieldset div {
    position: relative;
}

fieldset div label {
    position: absolute;
    text-align: left;
    left: 20%;
}

fieldset input {
    width: 40%;
    margin-left: 20%;
}

label.star::after {
    content: " *";
    color: red;
    font-size: large;
}