* {
    box-sizing: border-box;

}

body {
    width: 90%;
    margin: auto;


}

section {
    border: 2px solid black;
}

h1 {
    text-align: center;
}

article:first-of-type>div:first-of-type {

    float: left;
    background-color: red;
    width: 50%;
}

article:first-of-type>div:last-of-type {
    float: right;
    background-color: grey;
    width: 50%;
}

article:last-of-type div {
    background-color: blue;
}

article:last-of-type p {
    height: 200px;
    display: inline-block;
    position: relative;
    width: 100%;
}

article:last-of-type p a {
    background-color: yellow;
    color: blue;
    position: absolute;
    bottom: 3%;
    right: 1%;
    width: 10%;
    text-align: center;
}