* {
    box-sizing: border-box;
}

body {
    width: 80%;
    margin: auto;

}

div {
    border: 1px solid black;
}

div img.fixe-100 {
    width: 100px;
    height: 100px;
}


div img.height-100 {

    height: 100px;
}


div img.width-100 {

    width: 100px;
}

div.conteneur-fixe {
    width: 100px;
    height: 100px;
}

div.conteneur-fixe img {
    width: 100%;
}

div.maximun-width {

    background-color: blueviolet;
}

div.maximum-width img {
    width: 100%;

}



div.maximum-width-limit-height img {
    max-height: 400px;
    max-width: 100%;
}