* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    display: grid;
}

header, footer {
    background-color: black;
    height: 15vh;
    color: aliceblue;
    font-size: 2em;
}


main {

    display: grid;
    grid-template-areas:
        "leftaside main rightaside";

}

section {
    grid-area: main;
    width: 60vw;
    height: calc(100vh - 15vh - 15vh);
}


aside:first-of-type {
    background-color: brown;
    width: 20vw;
    grid-area: leftaside;
}

aside:last-of-type {
    background-color: blue;
    width: 20vw;
    grid-area: rightaside;
}