* {
    box-sizing: border-box;
}



.container-horizontal {
    padding: 0 40px;
    border: 1px solid black;
    display: flex;
    width: 100vw;
    height: 40vh;
    gap: 30vh;
    margin: 10px;

}

.container-horizontal div {
    background-color: red;
    text-align: center;
    flex-grow: 2;
    font-weight: bold;
    font-size: 2rem;
}



div.container-horizontal div:nth-child(1) {
    align-self: flex-start;
}


div.container-horizontal div:nth-child(2) {
    align-self: center;

}

div.container-horizontal div:nth-child(3) {
    align-self: flex-end;
}


div.container-horizontal div:nth-child(4) {
    align-self: stretch;
}



div.container-vertical div {
    background-color: blue;
    text-align: center;
    margin-left: 0;
    flex-grow: 2;
    font-weight: bold;
    font-size: 2rem;
}

.container-vertical {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 40vh;
    gap: 1vh;
    margin: 10px;
}

div.container-vertical div:nth-child(1) {
    align-self: flex-start;
}

div.container-vertical div:nth-child(2) {
    align-self: center;
}

div.container-vertical div:nth-child(3) {
    align-self: flex-end;
}

div.container-vertical div:nth-child(4) {
    align-self: stretch;
}