* {
    box-sizing: border-box;
}

body {
    width: 80%;
    margin: auto;
    font-size: 8vh;
    color: white;
}

div.wrapper {
    padding: 1vh;
}

header, footer {
    background-color: #2b2d2f;

}

header {
    height: 42vh;
    position: relative;
}

div.header-title {
    position: absolute;
    right: 1vh;
    top: 1vh;
}

main {
    height: 50vh;
    background-color: black;
    text-align: center;
}

footer {
    height: 10vh;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 80%;
}


div.avatar {
    padding: 1vh;
    padding-left: 4vh;
}

div.avatar {
    height: 40vh;
    width: 40vh;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;


    background-image: url("../image/profile-image.jpg");
    /*background-color: white;*/
}

.avatar .avatar-fade {
    height: 40vh;
    width: 30vh;
    top: 0;
    left: 0;

    background: linear-gradient(transparent, #2b2d2f);
    opacity: 0.7;
    position: absolute;
}

.avatar .avatar-slash {
    background-color: #2b2d2f;
    right: 0;
    height: 40vh;
    width: 10vh;
    transform: rotate(5deg);
    position: absolute;

}