body {
    width: 80%;
    margin: auto;
}

div.wrapper {
    padding: 2.5%;
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "aside"
    ;
    background-color: rgb(194, 118, 118);
}



header {
    width: 95%;
    grid-area: header;
    display: flex;
    justify-content: space-between;

}

header img {
    width: 10%;
}

header nav.nav-menu {
    display: none;
}

header nav.nav-burger {
    width: 10%;
    background-color: green;
    height: 100%;
    vertical-align: top;
}

nav.nav-burger>span {
    width: 100%;
    height: 20px;
    background-color: black;
    margin-top: 2px;
}

div.wrapper aside {
    display: flex;
    overflow-x: auto;
    width: 90%;
    grid-area: aside;
    margin: auto;
}

div.wrapper main {
    width: 90%;
    grid-area: main;
    margin: auto;

}


aside ul li {
    display: inline;
    list-style: none;
}

aside img {
    width: 16vw;

}

aside ul {
    margin: auto;
    display: flex;
}

@media only screen and (min-width:768px) {
    div.wrapper {
        grid-template-areas:
            "header header"
            "aside  main "

        ;
        grid-template-columns: 35% 60%;

        background-color: skyblue;
        margin-left: 0;

    }

    header nav.nav-menu {
        display: block;
    }

    header nav.nav-burger {
        display: none;
    }

    aside {
        overflow-y: auto;

    }

    aside img {
        width: 100%;

    }

    main {
        width: 65%;
    }

    aside ul {
        flex-direction: column;

        height: 50vh;

    }
}



@media only screen and (min-width:992px) {
    div.wrapper {
        margin: auto;
        grid-template-areas:
            "header"
            "aside"
            "main"
        ;
        grid-template-columns: 100%;
        background-color: greenyellow;

    }

    aside ul {
        flex-direction: row;
        height: 10vh;

    }

    aside {
        overflow-x: auto;
        width: 100%;
        overflow-y: hidden;
    }

    aside img {
        width: 10vw;
        height: 100%;
    }


}