* {
    box-sizing: border-box;
    text-align: center;

}

body {
    width: 80%;
    margin: auto;

}

main {
    height: 60vh;
    grid-area: main;
    width: 60vw;
}


div.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


div.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}




header {
    background-color: rgb(221, 81, 81);
    height: 5vh;
    grid-area: header;
}

nav {
    background-color: rgb(36, 36, 118);
    grid-area: nav;
    width: 10vw;
}

aside {
    background-color: aqua;
    grid-area: aside;
    width: 10vw;
}

footer {
    background-color: yellowgreen;
    height: 5vh;
    grid-area: footer;
}