* {
    box-sizing: border-box;
    text-align: center;

}

body {
    margin: 0px;
    padding: 0px;
}




main {
    height: 80vh;
    grid-area: main;
    width: 60vw;
}


div.container {

    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


div.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}




header {
    background-color: rgb(221, 81, 81);
    height: 10vh;
    width: 100%;
    grid-area: header;
}

nav {
    background-color: rgb(36, 36, 118);
    grid-area: nav;
    width: 20vw;
}

aside {
    background-color: aqua;
    grid-area: aside;
    width: 20vw;
}

footer {
    background-color: yellowgreen;
    height: 10vh;
    grid-area: footer;
    width: 100%;
}