* {
    box-sizing: border-box;
}

body {
    width: 80%;
    margin: auto;
}

ul {
    background-color: rgb(237, 237, 241);
    color: rgb(74, 74, 173);

}

nav ul {
    display: flex;
    width: 100%;

    justify-content: space-between;


}

nav ul li {
    width: 20%;
    column-gap: normal;
}

nav ul li {
    list-style-type: none;
    font-weight: bold;
    font-size: 1.5em;

}

nav ul li a {
    text-decoration: none;
    width: 100%;
}

nav ul li :hover {
    background-color: gray;
}