* {
    box-sizing: border-box;
}

body {
    width: 80%;
    margin: auto;
}



nav ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: rgb(74, 74, 173);
}


nav ul li {
    padding-left: 0;
    list-style-type: none;
    font-weight: bold;
    font-size: 1.5em;
    width: 20%;
    column-gap: normal;

}



nav a {
    display: block;
    width: 100%;
    padding: 10px;
}

nav ul li a, a:hover {

    text-decoration: none;
    width: 100%;
}

nav ul li :hover {
    background-color: gray;
}

li.lien {
    flex-basis: 100%;
    flex-grow: 1;
    text-align: center;
    background-color: lightgray;
}